*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div:hover{
    transform: scale(1.1);
    transition: all .2s ease;
}
