<h1>Pagina de Clientes</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui culpa ut a natus doloremque, ipsum consectetur
    similique quam consequuntur quos eligendi minima eum dolorem rem sunt animi veniam perferendis pariatur?Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Architecto sequi quaerat magnam exercitationem, earum velit, tempore
    facere veniam dicta rerum tenetur laboriosam, sed maxime unde iusto? Et aut ab quas?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ad veritatis corrupti molestiae quae dicta illo,
    aliquam adipisci dignissimos dolorum, iste placeat fugit. Quis impedit nostrum tempora. Totam, neque officia? Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Vitae quis asperiores distinctio quo in sed quidem molestiae
    amet id laboriosam minus quam eum nobis, hic unde explicabo fugit, porro corrupti.</p>